version: "3.9"

services:
  postgres:
    restart: always

  redis:
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: production
    restart: always
    volumes: []
    command: node dist/main

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: production
    restart: always
    volumes: []
    command: npm start

  nginx:
    restart: always
